[Service]
Type=simple
Restart=always
User=root
Group=root
WorkingDirectory=/root/src/mqtt-bridges
ExecStart=/usr/bin/fish -ic 'npx ts-node src/battery2mqtt.ts'

[Install]
WantedBy=multi-user.target
