[Service]
Type=simple
Restart=always
User=notroot
Group=notroot
WorkingDirectory=/home/notroot/src/mqtt-bridges
ExecStart=/usr/bin/env fish -ic 'npm run renogy'

[Install]
WantedBy=multi-user.target
