[Service]
Type=simple
Restart=always
User=notroot
Group=notroot
WorkingDirectory=/home/notroot/src/mqtt-bridges
Environment="HOME_ASSISTANT_DISCOVERY_PREFIX=homeassistant/discovery"
Environment="MQTT_PREFIX=renogy/solar_controllers"
Environment="MQTT_URI=tcp://service-mqtt.lan:1883"
Environment="SOURCES=modbus/#"
ExecStart=/usr/bin/env fish -ic 'npm run renogy-solar-controllers'

[Install]
WantedBy=multi-user.target
